body {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./imgs/pixel-art.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@font-face {
    font-family: lora;
    src: url(./font/Lora-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: pixelFont;
    src: url(./font/VT323-Regular.ttf);
}

h1 {
    color: black;
    background-image: url(./imgs/paper-background.avif);
    padding: 8px;
    border-radius: 12px;
    font-family: pixelFont;
    font-size: 62px;
    border: 2px solid black;
}

.container {
    font-family: lora;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./imgs/paper-background.avif);
    border: 2px solid black;
    border-radius: 12px;
}

.optAndGrid {
    display: flex;
    border-bottom: 2px solid black;
    padding: 20px 20px 20px 0px;
}

.options {
    padding: 20px;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.optionBtns {
    font-size: 16px;
    min-width: 75px;
    font-family: inherit;
}

.grid {             
    max-height: 464px;
    max-width: 464px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 2px solid black;
}

.pixels {
    border: 1px solid #b1aaaa;
    box-sizing: border-box;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    padding: 10px;
}

.inputWrapper {
    display: flex;
}

input[type=number] {
    padding: 5px 10px;
    width: 35px;
    font-size: 16px;
}

.inputBtn {
    border-radius: 0px;
    border: 1px solid black;
    cursor: pointer;
    font-family: inherit;
}

.inputBtn:hover {
    background-color: rgb(163, 160, 160);
}

.footer {
    font-size: 12px;
    padding: 10px;
    font-family: lora;
    color: #3882f6;
    font-weight: 800;
    margin-top: auto;
}

.footer a {
    color: inherit;
}

.gitLink {
    color: black;
    background-image: url(./imgs/paper-background.avif);
    padding: 5px;
    border-radius: 4px;
}